$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "InterRegular",
  Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 0.8125rem;

* {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
}
